* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

$primary-color: #06a7ed;
$secondary-color: #f652a0;
$tertiary-color: #f8ea8c;

$small-space: 5px;
$medium-space: 10px;
$large-space: 20px;

$border: 2px black solid;
$border-rounding: 25px;

header {
  width: 100vw;
  max-height: 10vh;

  h1 {
    height: 100%;
    max-width: 100%;
    padding: $medium-space;
    background-color: $primary-color;
    display: flex;
    justify-content: center;
  }
}

main {
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./background-2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .translucent {
    opacity: 0.5;
  }

  .translucent:hover {
    opacity: 1;
  }

  .side-panel,
  #mdl-panel {
    border: $border;
    border-radius: $border-rounding;
    height: 70%;
    min-width: 30%;
    margin: 0 $large-space;
    background-color: $primary-color;
  }

  .side-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    div {
      height: 25%;
      width: 80%;
      border: $border;
      border-radius: $border-rounding;
      background-color: $secondary-color;
      margin: auto;
    }
  }

  #mdl-panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    div {
      height: 40%;
      width: 80%;
      border: $border;
      margin: auto;
      background-color: $tertiary-color;
      border-radius: $border-rounding;
    }
  }
}
